name: Soundness

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  soundness:
    container:
      image: swift:jammy
  
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Mark repo safe in non-fake global config
      run: git config --global --add safe.directory "${GITHUB_WORKSPACE}"
    - name: Run soundness
      run: |
        scripts/soundness.sh
        exit $(git status --porcelain | wc -l)

